.app__container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
}

.header__subscribe {
    position: absolute;
    height: 100vh;
}


@media screen and (min-width: 576px) {
  .app__container {
    flex-direction: row;
  }

  .header__subscribe {
  flex: 1;
  position: relative;
  }
}
